.card-sections {
  display: grid;
  overflow: hidden;
  gap: 10px;
  margin-top: 40px;
  margin-bottom: 70px;
}

.card-set__bookmarklabel {
  position: absolute;
  top: 2px;
  right: 15px;
}
.card-set__button {
  color: transparent;
}

.card-set__bookmarklabel--booked {
  fill: #ee632c;
}

.card-set {
  display: grid;
  gap: 10px;
  border-style: outset;
  background: #e6cbb5;
  width: 96%;
  justify-self: center;
  align-self: center;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
}

.card-set__tag-list {
  display: flex;
  gap: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.card-set__tag {
  list-style: none;
  display: inline;
  border-radius: 15px;
  padding: 1px 3px;
  margin-bottom: 5px;
  background-color: #303179;
  color: #fae5df;
  text-align: center;
}
