* {
  box-sizing: border-box;
  margin-left: 0;
}

.body {
  background-color: #fae5df;
  color: #141850;
  display: grid;
  grid-template-rows: 60px auto 60px;
}
.headline {
  background-color: #ed7966;
  position: fixed;
  width: 100%;
  top: 0;
  font-family: calibri;
  margin: 0;
  text-align: center;
}

.main {
  display: grid;
  grid-gap: 10px;
}
.card-set {
  display: grid;
  border-style: outset;
  background: #e6cbb5;
  width: 96%;
  justify-self: center;
}

.button {
  justify-self: center;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.ul-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 5px;
}

.tag {
  list-style: none;
  display: inline;
  border-radius: 15px;
  border-style: inset;
  padding: 3px 1px;
  margin-bottom: 5px;
}

.bold {
  font-weight: bold;
}
.blocksatz {
  text-align: justify;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

.nav {
  background-color: #ed7966;
  bottom: 0px;
  width: 100%;
  position: fixed;
}
.menubar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.homebutton {
  color: #141850;
  list-style: none;
  display: inline-block;
  height: 60px;
  width: 60px;
  justify-self: center;
  display: grid;
}

svg {
  fill: #303179;
  transform: scale(1.8);
  justify-self: center;
  align-self: center;
}

svg:hover {
  fill: white;
}

ul {
  padding: 0;
  margin: 0;
  width: 100%;
}
