* {
  box-sizing: border-box;
}

main {
  display: grid;
  grid-template-rows: 60px auto 60px;
}

.body {
  margin: 0;
  padding: 0;
  background-color: #fae5df;
  color: #141850;
  overflow-y: auto;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.headline {
  background-color: #ed7966;
  position: fixed;
  width: 100%;
  top: 0;
  font-family: calibri;
  margin: 0;
  padding: 0;
}

.headderspace {
  margin-top: 2em;
}

.card-set {
  background-color: #f5cac2;
  border-style: groove;
  border-color: #141850;
  margin: 1em;
  padding-left: 1em;
  padding-right: 1em;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.button {
  background-color: #fae5df;
  margin-left: 3em;
  margin-right: 3em;
  padding: 2px;
  text-transform: uppercase;
}

.ul-card {
  list-style: none;
  overflow: hidden;
  padding: 0;
}

.tag {
  padding: 3px;
  border-style: groove;
  padding: 0.3em;
  border-radius: 10px;
  margin: 3px;
  background-color: #303179;
  color: #fae5df;
}

.bold {
  font-weight: bold;
}
.blocksatz {
  text-align: justify;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: fixed;
  justify-content: center;
  background-color: #ed7966;
  bottom: 0px;
  width: 100%;
}

.homebutton {
  color: #141850;
  list-style: none;
  display: inline-block;
}

svg {
  fill: #303179;
}

svg:hover {
  fill: white;
}
