* {
  box-sizing: border-box;
  margin: 0;
}

.body {
  background-color: #fae5df;
  color: #141850;
}

.headline {
  background-color: #ed7966;
  top: 0;
  width: 100%;
  position: fixed;
  text-align: center;
  z-index: 10;
}

.card-sections {
  display: grid;
  overflow: hidden;
  gap: 10px;
  margin-top: 40px;
  margin-bottom: 70px;
}

.card-set__bookmarklabel {
  position: absolute;
  top: 2px;
  right: 15px;
}
.card-set__button {
  color: transparent;
}

.card-set__bookmarklabel--booked {
  fill: #ee632c;
}

.card-set {
  display: grid;
  gap: 10px;
  border-style: outset;
  background: #e6cbb5;
  width: 96%;
  justify-self: center;
  align-self: center;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
}

.button {
  justify-self: center;
  text-transform: uppercase;
  margin-bottom: 15px;
  background-color: #fae5df;
  padding: 5px;
  border-color: #141850;
  display: flex;
  flex-direction: column;
}

.mt-15 {
  margin-top: 15px;
}

.py-20 {
  padding: 0 20px;
}

.card-set__tag-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.card-set__tag {
  list-style: none;
  display: inline;
  border-radius: 15px;
  padding: 1px 3px;
  margin-bottom: 5px;
  background-color: #303179;
  color: #fae5df;
  text-align: center;
}

.text-align__justified {
  text-align: justify;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

.nav {
  background-color: #ed7966;
  bottom: 0;
  width: 100%;
  position: fixed;
}
.nav__menubar {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.nav__homebutton {
  color: #141850;
  list-style: none;
  height: 60px;
  width: 60px;
  display: grid;
  justify-items: center;
  align-items: center;
}

.nav__link {
  justify-self: center;
  display: grid;
  align-self: center;
  height: 60px;
  width: 60px;
}

svg {
  fill: #303179;
  transform: scale(1.8);
  justify-self: center;
  align-self: center;
}

ul {
  padding: 0;
  margin: 0;
  width: 100%;
}

.bold {
  font-weight: bold;
}

.nav__active {
  background: #fae5df;
}

.create__headline {
  font-size: 1.2rem;
  font-weight: bold;
}

.create {
  display: grid;
  align-items: center;
  border: none;
  margin-top: 50px;
  margin-bottom: 60px;
}
.create__headline--small {
  color: #62637c;
  font-size: 0.8em;
}

.profile {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 2em;
  margin-top: 50px;
}

.profile_picture {
  border-radius: 50%;
  align-items: center;
}

.blue {
  color: #141850;
}

.profile__text {
  grid-column: 1/3;
  margin-top: 19px;
}

.profile__border {
  border-style: ridge;
  border-color: #242970;
}

.input-hidden {
  opacity: 0;
}

.hidden {
  display: none;
}
