* {
  box-sizing: border-box;
  margin-left: 0;
}

.body {
  background-color: #fae5df;
  color: #141850;
  display: grid;
  grid-template-rows: 60px auto 60px;
}
.headline {
  background-color: #ed7966;
  position: fixed;
  width: 100%;
  top: 0;
  font-family: calibri;
  margin: 0;
  text-align: center;
}

.card-set__bookmarklabel {
  justify-self: end;
}

.main {
  display: grid;
  grid-gap: 10px;
}
.card-set {
  display: grid;
  border-style: outset;
  background: #e6cbb5;
  width: 96%;
  justify-self: center;
  padding-left: 5px;
  padding-right: 5px;
}

.button {
  justify-self: center;
  text-transform: uppercase;
  margin-bottom: 15px;
  background-color: #fae5df;
}

.card-set__ul-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.card-set__tag {
  list-style: none;
  display: inline;
  border-radius: 15px;
  padding: 1px 3px;
  margin-bottom: 5px;
  background-color: #303179;
  color: #fae5df;
  text-align: center;
}

.card-set__blocksatz {
  text-align: justify;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

.nav {
  background-color: #ed7966;
  bottom: 0px;
  width: 100%;
  position: fixed;
}
.nav__menubar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.nav__homebutton {
  color: #141850;
  list-style: none;
  display: inline-block;
  height: 60px;
  width: 60px;
  justify-self: center;
  display: grid;
}

svg {
  fill: #303179;
  transform: scale(1.8);
  justify-self: center;
  align-self: center;
}

svg:hover {
  fill: white;
}

ul {
  padding: 0;
  margin: 0;
  width: 100%;
}

.bold {
  font-weight: bold;
}

.nav__active {
  background: #faecea;
}

.create__headline {
  font-size: 1.2rem;
  font-weight: bold;
}

.create {
  display: grid;
  align-items: center;
  border: none;
}

.profile {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 2em;
}

.profile_picture {
  border-radius: 50%;
  align-items: center;
}

.blue {
  color: #141850;
}

.profile__text {
  grid-column: 1/3;
  margin-top: 19px;
}
