.bold {
  font-weight: bold;
}

.blue {
  color: #141850;
}

.mt-15 {
  margin-top: 15px;
}

.py-20 {
  padding: 0 20px;
}

.hidden {
  display: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

ul {
  padding: 0;
  margin: 0;
  width: 100%;
}

svg {
  fill: #303179;
  transform: scale(1.8);
  justify-self: center;
  align-self: center;
}

.text-align__justified {
  text-align: justify;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}
